@import './var.less';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: @words;
  font-family: '等线', '微软雅黑', 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
}
body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.25s;
  &:hover {
    color: @primary;
  }
}
